.header{
    display: flex;
    justify-content: space-between; 
    text-align: center;
    flex-wrap: nowrap;   
    
}
.profile,.button1,.button2,.button3{
    width:auto;
    height:50px;
    border: 2px solid black;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

button {
    background-color: #ffffff; 
    border: none; 
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  
